<% include header %>
<h1>Records</h1>
<div class="row">
    <div class="col-lg-6">
        <h2>Most Points in a Game</h2>
        <ul>
        <%
            mostpoints.forEach(function(a){
        %>
            <li><%= a.points %> | <%= a.year %> - <%=a.week %> <%= a.owner %></li>
        <%
            });
        %>
        </ul>
    </div>
    <div class="col-lg-6">
        <h2>Least Points in a Game</h2>
        <ul>
        <%
            leastpoints.forEach(function(a){
        %>
            <li><%= a.points %> | <%= a.year %> - <%=a.week %> <%= a.owner %></li>
        <%
            });
        %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Best Win Percentage All Time</h2>
        <ul>
        <%
            bestwinpct.forEach(function(a){
        %>
            <li><%= a.winpct %> | <%= a.owner %> (<%=a.wins %> - <%= a.losses %>)</li>
        <%
            });
        %>
        </ul>
    </div>
    <div class="col-lg-6">
        <h2>Worst Win Percentage All Time</h2>
        <ul>
        <%
            worstwinpct.forEach(function(a){
        %>
            <li><%= a.winpct %> | <%= a.owner %> (<%=a.wins %> - <%= a.losses %>)</li>
        <%
            });
        %>
        </ul>
    </div>
</div>
<% include footer %>
