<% include header %>
<h1>Teams</h1>
<div class="row">
    <div class="col-lg-6">
        <h2>Current</h2>
        <ul>
        <%
            teams.forEach(function(a){
        %>
            <li><a href="/teams/<%= a.id %>"><%= a.owner %></a> (<%= a.wins %> - <%= a.losses %>) |  <%= new Date().getFullYear() %>: (<%= a.currentwins %> - <%= a.currentlosses %>)</li>
        <%
            });
        %>
        </ul>
    </div>
    <div class="col-lg-6">
        <h2>Historic</h2>
        <ul>
        <%
            historicTeams.forEach(function(a){
        %>
            <li><a href="/teams/<%= a.id %>"><%= a.owner %></a> (<%= a.wins %> - <%= a.losses %>)</li>
        <%
            });
        %>
        </ul>
    </div>
</div>
<% include footer %>
